@import url('https://fonts.google.com/specimen/Nunito+Sans');

.NavBar {
    background-color:hsl(209, 23%, 22%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52rem;
    color:  hsl(0, 0%, 100%);
    font-family: 'Nunito Sans', sans-serif;
}

.InTheWorld {
    font-size: 20px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
}

.darkMode {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}